.composition__text {
  @include robotoRegularBlack;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  max-width: 400px;
  margin-bottom: 20px;
  &:last-of-type {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .composition__text {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 36px;
    &:last-of-type {
    margin-bottom: 0px;
    }
  }
}