.composition__caption {
  @include robotoRegularBlack;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  grid-area: caption;
  margin: 0 0 50px;
}

@media screen and (max-width: 1023px) {
  .composition__caption {
      margin-bottom: 40px;
    }
  }

@media screen and (max-width: 460px) {
  .composition__caption {
      margin-bottom: 30px;
      padding-top: 20px;
      font-size: 14px;
      line-height: 20px;
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        border-bottom: solid 1px black;
        top: 0;
      }
  }
}
