.page__content {
 margin: 0 auto;
 max-width: 1340px;
 box-sizing: border-box;
}

@media screen and (max-width: 1366px) {
  .page__content {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 1110px) {
  .page__content {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 1023px) {
  .page__content {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 460px) {
  .page__content {
    padding-left: 20px;
    padding-right: 20px;
  }
}