.header__navigation-bar_active {
  display: flex;
  transform: none;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: #DF2626;
  width: 100%;
}

@media (max-width: 767px) {
  .header__navigation-bar_active {
    flex-direction: column;
    align-items: center;
    z-index: 10;
    padding-top: 20px;
  }   
}
