.sign-up__grid {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(3, min-content);
  column-gap: 50px;
  grid-template-areas: 
  'arrow title'
  '. subtitle'
  '. form';
}

@media screen and (max-width: 1439px) {
  .sign-up__grid {
      grid-template-columns: max-content;
      justify-content: center;
      padding-left: 239px;
      }
  }

@media screen and (max-width: 1110px) {
  .sign-up__grid {
      padding-left: 60px;
      }
  }

@media screen and (max-width: 1023px) {
  .sign-up__grid {
      padding-left: 40px;
      padding-bottom: 40px;
      }
  }

@media screen and (max-width: 460px) {
  .sign-up__grid {
      padding-left: 20px;
      padding-bottom: 20px;
  }
}