.camera__caption {
  @include robotoRegularWhite;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  grid-area: caption;
  margin: 0 0 50px;
}

@media screen and (max-width: 1439px) {
  .camera__caption {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .camera__caption {
      margin-bottom: 30px;
      padding-top: 20px;
      font-size: 14px;
      line-height: 20px;
      border-top: solid 1px #fff;
      font-size: 14px;
      line-height: 20px
  }
}