.camera__wrapper {
  display: grid;
  grid-template-columns: max-content 642px;
  grid-template-rows: repeat(4, min-content);
  column-gap: 86px;
  justify-content: center;
  grid-template-areas: 
  'caption img'
  'title img'
  'reviews img'
  'reviews-list reviews-list';
  box-sizing: border-box;
  padding-top: 50px;
}