.course {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, max-content);
  column-gap: 76px;
  grid-template-areas: 
  'title img'
  'subtitle img'
  'button img';
}