.course {
  display: grid;
  grid-template-columns: 624px 642px;
  grid-template-rows: repeat(3, max-content);
  column-gap: 76px;
  min-height: 655px;
  justify-content: center;
  grid-template-areas: 
  'title img'
  'subtitle img'
  'button img';
}