.camera__review-author {
  @include robotoRegularWhite;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 10px;
}

@media screen and (max-width: 767px) {
  .camera__reviews-text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 6px;
  }
}