.header__navigation-bar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .header__navigation-bar {
    display: none; 
    // width: 100%;
    // max-width: 100%;
    z-index: 100;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s linear;
  }
}
