.camera__image {
  grid-area: img;
}

@media screen and (max-width: 1439px) {
  .camera__image {
    margin-bottom: 60px;
    max-width: 688px;
  }
}

@media screen and (max-width: 1439px) {
  .camera__image {
    max-width: 280px;
  }
}