.composition__specification {
  @include robotoRegularBlack;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  max-width: 291px;
}

@media screen and (max-width: 1439px) {
  .composition__specification {
     max-width: 688px;
     padding-bottom: 30px;
     margin-bottom: 30px;
     border-bottom: 1px solid  #000;
     &:last-of-type {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0;
     }
  }
}

@media screen and (max-width: 767px) {
  .composition__specification {
      width: 278px;
      font-size: 14px;
      line-height: 18px;
      padding-bottom: 14px;
      margin-bottom: 14px;   
  }
}