.camera__review-nickname {
  @include robotoRegularWhite;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .camera__reviews-text {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 30px;
  }
}
