.composition__specifications {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  grid-area: specifications;
  margin-top: 100px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1439px) {
  .composition__specifications {
      justify-content: space-between;
      align-items: flex-start;  
      flex-direction: column;
      margin-bottom: 40px;
      margin-top: 80px;
    }
  }

@media screen and (max-width: 767px) {
  .composition__specifications {
      margin-bottom: 20px;
      }
  }