.header__logo {
  width: 40px;
  height: 40px;
  transition: transform 1.5s ease-out;
  cursor: pointer;
  &:hover {
    cursor: url('../images/Pointer.svg'),auto;  
  }
}

@media screen and (max-width: 1023px) {
  .header__logo {
    width: 36px;
    height: 36px;    
  }
}

@media screen and (max-width: 460px) {
  .header__logo {
    position: relative;
    width: 30px;
    height: 30px;    
  }
}
