.page {
  margin: 0;
}

.header {
  min-height: 84px;
  background-color: #DF2626;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
}

.course {
  display: grid;
  grid-template-columns: 624px 642px;
  grid-template-rows: repeat(3, -webkit-max-content);
  grid-template-rows: repeat(3, max-content);
  -moz-column-gap: 76px;
       column-gap: 76px;
  min-height: 655px;
  justify-content: center;
  grid-template-areas: "title img" "subtitle img" "button img";
}

@media screen and (max-width: 1439px) {
  .course {
    grid-template-columns: -webkit-max-content;
    grid-template-columns: max-content;
    grid-template-rows: repeat(4, -webkit-max-content);
    grid-template-rows: repeat(4, max-content);
    grid-template-areas: "title" "img" "subtitle" "button";
  }
}
.composition {
  background: #FFCE00;
  display: grid;
  grid-template-columns: -webkit-max-content 642px;
  grid-template-columns: max-content 642px;
  grid-template-rows: repeat(5, -webkit-min-content);
  grid-template-rows: repeat(5, min-content);
  -moz-column-gap: 295px;
       column-gap: 295px;
  min-height: 969px;
  justify-content: center;
  grid-template-areas: "caption img" "title img" "texts img" "button img" "specifications specifications";
}

@media screen and (max-width: 1439px) {
  .composition {
    grid-template-columns: -webkit-max-content;
    grid-template-columns: max-content;
    grid-template-rows: repeat(4, -webkit-max-content);
    grid-template-rows: repeat(4, max-content);
    grid-template-areas: "title" "img" "subtitle" "button";
  }
}
.camera {
  background: #000000;
  min-height: 1407px;
  display: grid;
  grid-template-columns: -webkit-max-content 642px;
  grid-template-columns: max-content 642px;
  grid-template-rows: repeat(4, -webkit-min-content);
  grid-template-rows: repeat(4, min-content);
  -moz-column-gap: 86px;
       column-gap: 86px;
  justify-content: center;
  grid-template-areas: "caption img" "title img" "reviews img" "reviews-list reviews-list";
}

.button {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 18px;
  line-height: 28px;
  width: 228px;
  height: 49px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 9999px;
  grid-area: button;
  background-color: #fff;
  cursor: pointer;
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotation {
  -webkit-animation: rotation linear 20s infinite;
          animation: rotation linear 20s infinite;
}

.page__content {
  margin: 0 auto;
  padding: 50px;
}

.header__list-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.header__list-link {
  margin-right: 40px;
}
.header__list-link:last-of-type {
  margin-right: 0;
}

.header__link {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  text-align: right;
}

.course__title {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 100px;
  line-height: 110px;
  max-width: 624px;
  margin: 0 0 60px;
  grid-area: title;
}

.course__subtitle {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 20px;
  line-height: 28px;
  max-width: 469px;
  margin: 0 0 170px;
  grid-area: subtitle;
}

.course__image {
  max-width: 642px;
  grid-area: img;
}

.composition__caption {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  grid-area: caption;
  margin: 0 0 50px;
}

.composition__title {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 64px;
  line-height: 64px;
  grid-area: title;
  margin: 0 0 100px;
  max-width: 403px;
}

.composition__text {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  max-width: 400px;
  margin-bottom: 20px;
}
.composition__text:last-of-type {
  margin-bottom: 0px;
}

.composition__image {
  max-width: 642px;
  grid-area: img;
}

.composition__specifications {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  grid-area: specifications;
  margin-top: 100px;
}

.composition__specification {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  max-width: 291px;
}

.composition__texts {
  grid-area: texts;
  margin: 0 0 200px;
}

.camera__caption {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  grid-area: caption;
  margin: 0 0 50px;
}

.camera__title {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  font-size: 122px;
  line-height: 122px;
  max-width: 617px;
  grid-area: title;
  margin: 0 0 360px;
}

.camera__image {
  grid-area: img;
}

.camera__reviews {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  grid-area: reviews;
  margin: 0;
  max-width: 375px;
}

.camera__reviews-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 180px 0 0;
  grid-area: reviews-list;
}

.camera__review {
  max-width: 526px;
  margin-right: 172px;
}
.camera__review:last-of-type {
  margin-right: 0;
}

.camera__review-text {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  font-size: 43px;
  line-height: 43px;
  margin: 0 0 60px;
}

.camera__review-author {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 10px;
}

.camera__review-nickname {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}

.orders {
  min-height: 745px;
  display: grid;
  grid-template-columns: -webkit-max-content 642px;
  grid-template-columns: max-content 642px;
  grid-template-rows: repeat(4, -webkit-min-content);
  grid-template-rows: repeat(4, min-content);
  -moz-column-gap: 312px;
       column-gap: 312px;
  justify-content: center;
  grid-template-areas: "caption ." "title ." "img text" "img button";
}

.orders__caption {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  grid-area: caption;
  margin: 50px 0 50px;
}

.orders__title {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 64px;
  line-height: 64px;
  max-width: 549px;
  grid-area: title;
  margin: 0 0 106px;
}

.orders__image {
  max-width: 648px;
  grid-area: img;
}

.orders__text {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 18px;
  line-height: 28px;
  grid-area: text;
  max-width: 370px;
  margin: 24px 0 148px;
}/*# sourceMappingURL=style.css.map */