@import '../vendor/normalize.css';
@import '../vendor/font.css';
.page {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  min-width: 320px;
}

.header {
  min-height: 84px;
  background-color: #DF2626;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
}

.course {
  display: grid;
  grid-template-columns: 624px 642px;
  grid-template-rows: repeat(3, -webkit-max-content);
  grid-template-rows: repeat(3, max-content);
  -moz-column-gap: 76px;
       column-gap: 76px;
  min-height: 655px;
  justify-content: center;
  grid-template-areas: "title img" "subtitle img" "button img";
  box-sizing: border-box;
  padding-top: 50px;
}

@media screen and (max-width: 1439px) {
  .course {
    grid-template-columns: -webkit-max-content;
    grid-template-columns: max-content;
    grid-template-rows: repeat(4, -webkit-max-content);
    grid-template-rows: repeat(4, max-content);
    grid-template-areas: "title" "img" "subtitle" "button";
  }
}
.composition {
  background: #FFCE00;
  display: grid;
  grid-template-columns: -webkit-max-content 642px;
  grid-template-columns: max-content 642px;
  grid-template-rows: repeat(5, -webkit-min-content);
  grid-template-rows: repeat(5, min-content);
  -moz-column-gap: 295px;
       column-gap: 295px;
  min-height: 969px;
  justify-content: center;
  grid-template-areas: "caption img" "title img" "texts img" "button img" "specifications specifications";
  box-sizing: border-box;
  padding-top: 50px;
}

@media screen and (max-width: 1439px) {
  .composition {
    grid-template-columns: -webkit-max-content;
    grid-template-columns: max-content;
    grid-template-rows: repeat(4, -webkit-max-content);
    grid-template-rows: repeat(4, max-content);
    grid-template-areas: "title" "img" "subtitle" "button";
  }
}
.camera {
  background: #000000;
  min-height: 1407px;
}

.button {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 18px;
  line-height: 28px;
  width: 228px;
  height: 49px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 9999px;
  grid-area: button;
  background-color: #fff;
}
.button:hover {
  cursor: url(../../../../../images/Pointer.svg), auto;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotation:hover {
  -webkit-animation: rotation ease-out 2s infinite;
          animation: rotation ease-out 2s infinite;
  cursor: url(../../../../../images/Pointer.svg), auto;
}

.page__content {
  margin: 0 auto;
  max-width: 1340px;
  box-sizing: border-box;
}

.header__list-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.header__list-link {
  margin-right: 40px;
}
.header__list-link:last-of-type {
  margin-right: 0;
}

.header__link {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  text-align: right;
}
.header__link:hover {
  cursor: url(../../../../../images/Pointer.svg), auto;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.course__title {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 100px;
  line-height: 110px;
  max-width: 624px;
  margin: 0 0 60px;
  grid-area: title;
}

.course__subtitle {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 20px;
  line-height: 28px;
  max-width: 469px;
  margin: 0 0 170px;
  grid-area: subtitle;
}

.course__image {
  max-width: 642px;
  grid-area: img;
}

.composition__caption {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  grid-area: caption;
  margin: 0 0 50px;
}

.composition__title {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 64px;
  line-height: 64px;
  grid-area: title;
  margin: 0 0 100px;
  max-width: 403px;
}

.composition__text {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  max-width: 400px;
  margin-bottom: 20px;
}
.composition__text:last-of-type {
  margin-bottom: 0px;
}

.composition__image {
  max-width: 642px;
  grid-area: img;
}

.composition__specifications {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  grid-area: specifications;
  margin-top: 100px;
}

.composition__specification {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  max-width: 291px;
}

.composition__texts {
  grid-area: texts;
  margin: 0 0 200px;
}

.camera__caption {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  grid-area: caption;
  margin: 0 0 50px;
}

.camera__title {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  font-size: 122px;
  line-height: 122px;
  max-width: 617px;
  grid-area: title;
  margin: 0 0 360px;
}

.camera__image {
  grid-area: img;
}

.camera__reviews {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  grid-area: reviews;
  margin: 0;
  max-width: 375px;
}

.camera__reviews-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 180px 0 0;
  grid-area: reviews-list;
}

.camera__review {
  max-width: 526px;
  margin-right: 172px;
}
.camera__review:last-of-type {
  margin-right: 0;
}

.camera__review-text {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  font-size: 43px;
  line-height: 43px;
  margin: 0 0 60px;
}

.camera__review-author {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 10px;
}

.camera__review-nickname {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}

.camera__wrapper {
  display: grid;
  grid-template-columns: -webkit-max-content 642px;
  grid-template-columns: max-content 642px;
  grid-template-rows: repeat(4, -webkit-min-content);
  grid-template-rows: repeat(4, min-content);
  -moz-column-gap: 86px;
       column-gap: 86px;
  justify-content: center;
  grid-template-areas: "caption img" "title img" "reviews img" "reviews-list reviews-list";
  box-sizing: border-box;
  padding-top: 50px;
}

.orders {
  min-height: 745px;
  display: grid;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  grid-template-rows: repeat(4, -webkit-min-content);
  grid-template-rows: repeat(4, min-content);
  -moz-column-gap: 312px;
       column-gap: 312px;
  justify-content: center;
  grid-template-areas: "caption ." "title ." "img text" "img button";
}

.orders__caption {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  grid-area: caption;
  margin: 50px 0 50px;
}

.orders__title {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 64px;
  line-height: 64px;
  max-width: 549px;
  grid-area: title;
  margin: 0 0 106px;
}

.orders__image {
  max-width: 648px;
  grid-area: img;
}

.orders__text {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 18px;
  line-height: 28px;
  grid-area: text;
  max-width: 370px;
  margin: 24px 0 148px;
}

.sign-up {
  min-height: 496px;
  background: #DF2626;
  box-sizing: border-box;
  padding-top: 50px;
}

.sign-up__arrow {
  grid-area: arrow;
  max-width: 129px;
}

.sign-up__title {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  font-size: 120px;
  line-height: 120px;
  color: #FFF;
  grid-area: title;
  margin: 0;
}

.sign-up__subtitle {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  font-size: 120px;
  line-height: 120px;
  color: #FFF;
  grid-area: subtitle;
  margin: 0 0 120px;
}

.sign-up__form {
  grid-area: form;
  display: flex;
}

.sign-up__form-input {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.38px;
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 8px 0px 0px 8px;
  height: 50px;
  width: 348px;
  border-right-style: none;
  cursor: pointer;
  padding-left: 20px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.sign-up__form-input:hover {
  cursor: url(../../../../../images/Pointer.svg), auto;
}
.sign-up__form-input::-webkit-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
  color: #000;
}
.sign-up__form-input::-moz-placeholder {
  text-indent: 0px;
  -moz-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
  color: #000;
}
.sign-up__form-input:-moz-placeholder {
  text-indent: 0px;
  -moz-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
  color: #000;
}
.sign-up__form-input:-ms-input-placeholder {
  text-indent: 0px;
  -ms-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
  color: #000;
}
.sign-up__form-input:focus::-webkit-input-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}
.sign-up__form-input:focus::-moz-placeholder {
  text-indent: 500px;
  -moz-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}
.sign-up__form-input:focus:-moz-placeholder {
  text-indent: 500px;
  -moz-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}
.sign-up__form-input:focus:-ms-input-placeholder {
  text-indent: 500px;
  -ms-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

.sign-up__form-button {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.38px;
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 0px 8px 8px 0px;
  height: 50px;
  width: 205px;
  cursor: pointer;
}
.sign-up__form-button:hover {
  cursor: url(../../../../../images/Pointer.svg), auto;
  font-weight: 500;
}

.sign-up__grid {
  display: grid;
  grid-template-columns: repeat(2, -webkit-min-content);
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(3, -webkit-min-content);
  grid-template-rows: repeat(3, min-content);
  -moz-column-gap: 50px;
       column-gap: 50px;
  grid-template-areas: "arrow title" ". subtitle" ". form";
}

.footer {
  background: #DF2626;
}

.footer__copyright {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
  margin: 0;
  box-sizing: border-box;
}

.footer__wrapper {
  display: flex;
  padding: 50px 0;
}/*# sourceMappingURL=style.css.map */